<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css//home.css">
</head>
<body>
<header>
  <h1>Shop</h1>
  <nav>
    <ul>
      <li href="#"><a>Home</a></li>
      <li href="#"><a>Shope</a></li>
      <li href="#"><a>About US</a></li>
      <li href="#"><a>Contact us</a></li>


    </ul>
  </nav>

</header>
  <main>
    <section>
      <h2>New Arivals</h2>
      <ul>
        <li>
          <img src="/static/images/download.jpg">
          <h3>Product1</h3>
          <p>Text</p>
          <button>Add to cart</button>
        </li>
        <li>
          <img src="/static/images/images.jpg32.jpg">
          <h3>Product2</h3>
          <p>Text</p>
          <button>Add to cart</button>
        </li>
        <li>
          <img src="/static/images/download.jpg">
          <h3>Product1</h3>
          <p>Text</p>
          <button>Add to cart</button>
        </li>
        <li>
          <img src="/static/images/images.jpg56.jpg">
          <h3>Product3</h3>
          <p>Text</p>
          <button>Add to cart</button>
        </li>
        <li>
          <img src="/static/images/images.jpg354.jpg">
          <h3>Product4</h3>
          <p>Text</p>
          <button>Add to cart</button>
        </li>
        <li>
          <img src="/static/images/Без названия.jpg21.jpg">
          <h3>Product5</h3>
          <p>Text</p>
          <button>Add to cart</button>
        </li>

      </ul>
    </section>
  </main>
  <footer>
    <p>2023,All rights reservad.</p>
  </footer>

</body>
</html>